{% extends 'base-front.html.twig' %}
{% block body %}

  <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>A propos</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="./index.html">Acceuil</a>
                        <span>A propos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

 <section class="about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="about__video set-bg" data-setbg="front-office/img/coach.jpg">
                        <a href="https://www.youtube.com/watch?v=CWKvYHNl4Q8"
                        class="play-btn video-popup"><i class="fa fa-play"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="about__text">
                        <div class="section-title">
                            <span>A propos vieCoaching</span>
                            <h2>Votre santé entre nos mains</h2>
                        </div>
                        <p>Découvrez VieCoaching : votre source d'inspiration pour une vie épanouie. Accédez à des ressources, des conseils et des programmes pour atteindre vos objectifs de développement personnel et améliorer votre bien-être global. Joignez-vous à notre communauté aujourd'hui pour commencer votre voyage vers une vie meilleure!" .</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="about__bar">
                        <div class="about__bar__item">
                            <p>Notre effort </p>
                            <div id="bar1" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="95"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>Disponibilité</p>
                            <div id="bar2" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="80"></span>
                            </div>
                        </div>
                        <div class="about__bar__item">
                            <p>Notre patienté</p>
                            <div id="bar3" class="barfiller">
                                <div class="tipWrap"><span class="tip"></span></div>
                                <span class="fill" data-percentage="90"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
