{% extends 'base-front.html.twig' %}

{% block body %}
<style>.blog__item {
    margin-bottom: 30px;
}

.blog__item__pic {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.blog__pic__inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.blog__pic__inner h2.label {
    margin-bottom: 10px;
    font-size: 18px;
}

.blog__pic__inner p.description {
    font-size: 14px;
    line-height: 1.6;
}
</style>
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Blog Des Ressources</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="./index.html">Accueil</a>
                    <span>Blog Des Ressources</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for ressource in ressources %}
        <div class="col-md-4">
            <div class="blog__item">
                <div class="blog__item__pic set-bg" data-setbg="{{ asset('uploads/' ~ ressource.url) }}">
                    <div class="blog__pic__inner">
                        <h2 class="label">{{ ressource.TitreR }}</h2>
                        <p class="description">{{ ressource.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
     
<div class="pagination-container">
    <div class="bootstrap-badge">
        <a href="javascript:void()" >{{ knp_pagination_render(ressources) }}</a>
    </div>
    <div class="pagination justify-content-center mt-4">
    </div>
</div>

{% endblock %}
