 @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
 *{padding:0;margin:0;box-sizing:border-box;border-radius: 30px;}
 .container{display:flex;justify-content:center;align-items:center;min-height:100vh;
   background-image: linear-gradient(to right top,#72565a00,#f0eeee);border-radius: 30px;}
   .container .card{height:420px;width:800px;
   background-color:#fff;position:relative;box-shadow:0 15px 30px rgba(0,0,0,0.1);
   font-family: 'Roboto Slab', serif;border-radius: 30px;}
   .container .card .form{width:100%;height:100%;display:flex}.container .card .left-side{width:50%;background-color:#fff;height:100%;position:relative;overflow:hidden}
 .left-side span:nth-child(1){position:absolute;transform:rotate(45deg);top:70px;left:-100px;display:flex;height:180px;width:400px;border-top-right-radius:150px;border-bottom-right-radius:150px;border:15px solid #fcb858ee;background-image: linear-gradient(to right,#b4bfc59f,#fcb858)}.left-side span:nth-child(2){position:absolute;transform:rotate(45deg);top:-20px;left:130px;display:flex;height:100px;width:200px;border-top-right-radius:150px;border-bottom-right-radius:150px;background-image: linear-gradient(to right,#c3c78c,#17a2b8)}.left-side span:nth-child(3){position:absolute;transform:rotate(45deg);top:280px;left:-70px;display:flex;height:100px;width:200px;border-top-right-radius:150px;border-bottom-right-radius:150px;background-image: linear-gradient(to right,#5e718b86,#c3c78c)}.left-side span:nth-child(4){position:absolute;transform:rotate(-135deg);top:370px;left:170px;display:flex;height:100px;width:200px;border-top-right-radius:150px;border-bottom-right-radius:150px;background-image: linear-gradient(to right,#ff9c11,#17a2b8)}
 .container .card .right-side{width:50%;background-color:#fff;height:100%;padding:20px}.d-none{display:none !important}.login{display:flex;justify-content:center;text-align:center;width:100%;margin-top:20px}
 .input_text{margin-top:20px;width:100%;position:relative}
 input[type="email"]{height:45px;width:90%;border:none;background-color:#b4bfc55e;outline:0;padding:5px 10px;padding-left:25px;border-radius:10px}
 input[type="text"]{height:45px;width:90%;border:none;background-color:#b4bfc55e;outline:0;padding:5px 10px;padding-left:25px;border-radius:10px}
 
 input[type="password"]{height:45px;width:90%;border:none;background-color:#b4bfc55e;outline:0;padding:5px 10px;padding-left:25px;padding-right:28px;border-radius:10px}.fa-lock{position:absolute;top:15px;left:10px;cursor:pointer;color:#70747C}.fa-user{position:absolute;top:14px;left:9px;cursor:pointer;color:#70747C}.fa-envelope{position:absolute;top:15px;left:7px;cursor:pointer;color:#70747C;font-size:14px}.fa-eye-slash{position:absolute;top:15px;right:45px;cursor:pointer;color:#70747C}.fa-eye{position:absolute;top:15px;right:45px;cursor:pointer;color:#70747C}
 .login_btn{margin-top:20px;display:flex;align-items:auto;justify-content: center; 
   padding-right: 30px;}
 .login_btn button{height:45px;outline:0;border:none;width:60%;
   margin-right: -5%;right:auto;color:#fff;border-radius:30px;font-weight: bold;background-color:#17a2b8;font-size:18px;cursor:pointer;transition:all 0.5s}
 .login_btn button:hover{background-color:#1e525a}
 .forgot{text-align:center;margin-top:20px;font-size:13px;color:#B8B0B1;font-weight:600;letter-spacing:1px}
 .forgot p {
   text-decoration: none;
   display: inline; /* Ajoutez cette ligne */
   justify-content: center; 
   right:60%;
   text-align: center; /* Ajoutez cette ligne */
   margin-right: 9%;}
   .create{margin-top:40px;text-align:center;text-decoration:none;font-size:13px;font-weight:700}
.margin{margin-top:40px !important}
.create a{text-decoration:none;color:blue;}
.signin_warn{border:1px solid #ffa600 !important}.signup_warn{border:1px solid #fcb858 !important}
.signin_eye_wrn{border:1px solid blue !important}
.signup_eye_wrn{border:1px solid blue !important}
@media (max-width:750px){.container .card{max-width: 350px}
.container .card .right-side{width:100%}.container .card .left-side{display: none}}
 .login h2 {
   font-size: 26px; font-weight: bold;justify-content: center;margin-right: 9%
}
.create {
   margin-top: 40px;
   text-align: center;
   font-size: 18px; /* Augmentez la taille de la police */
   font-weight: bold; /* Ajoutez cette ligne */
}

.create button {
   height: 45px; /* Ajoutez cette ligne */
   outline: 0;
   border: none;
   width: 75%;
   color: #fff;
   border-radius: 20px;
   background-color: #c3c78c;
   margin-right: 4%;
   font-size: 18px;
   cursor: pointer;
   transition: all 0.5s;
   font-weight: bold;
}

.create button:hover {
   background-color: #5a5e20;
}