@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

p {
	color: #b4bfc59f;
    font-size: 21px;
}

#heading {
	
	color: #000000;
    font-size: 40px;
	
}

body {
    background: linear-gradient(to bottom, #f8f8f8, #f8f8f8); /* Dégradé de gris */
}

/* Arrière-plan du formulaire */
#msform {
    text-align: center;
    position: relative;
    margin: 20px auto; /* Centrer le formulaire horizontalement */
    width: 100%; /* Définir une largeur pour le formulaire */
    max-width: 600px; /* Limiter la largeur maximale du formulaire */
    background: rgba(255, 255, 255, 0.9); /* Blanc avec une transparence légère */
     /* Ajouter des coins arrondis */
    padding: 10px; /* Ajouter un espace intérieur */
    /* Ajouter une ombre légère */
}

#msform fieldset {
    background: white;
    border: 3.5px solid transparent;
    border-radius: 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}



.form-card {
	text-align: left;
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
    display: none;
}





#msform .action-button {
    width: 20%; /* Ajuster la largeur selon vos préférences */
    height: 40px; /* Reprendre la hauteur des boutons de la classe .login_btn */
    background: #17a2b8; /* Couleur de fond */
    font-weight: bold;
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer;
    margin-top: 20px; /* Marge supérieure pour l'espacement */
    margin-right: 30px; /* Marge droite pour l'espacement */
    font-size: 18px; /* Taille de la police */
    transition: all 0.5s; /* Transition fluide */
    float: right; /* Alignement à droite */
}

#msform .action-button:hover, #msform .action-button:focus {
    background-color: #1e525a; /* Couleur de survol */
}

/*Previous Buttons*/
#msform .action-button-previous {
    width: 20%; /* Ajuster la largeur selon vos préférences */
    height: 40px; /* Reprendre la hauteur des boutons de la classe .login_btn */
    background: #616161; /* Couleur de fond */
    font-weight: bold;
    color: white; /* Couleur du texte */
    border: none;
    border-radius: 20px; /* Coins arrondis */
    cursor: pointer;
    margin-top: 20px; /* Marge supérieure pour l'espacement */
    margin-right: 0px; /* Marge droite pour l'espacement */
   
    font-size: 18px; /* Taille de la police */
    transition: all 0.5s; /* Transition fluide */
    float: right; /* Alignement à droite */
}

#msform .action-button-previous:hover, #msform .action-button-previous:focus {
    background-color: #000000; /* Couleur de survol */
}

/*The background card*/
.card {
    z-index: 0;
    border: none;
    position: relative;border-radius: 20px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}

/*FieldSet headings*/
.fs-title {
    font-size: 23px;
    color: #000000;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left;
}

.purple-text {
	color: #000000;
    font-weight: normal;
}

/*Step Count*/
.steps {
	font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right;
}

/*Field names*/
.fieldlabels {
	color: rgb(0, 0, 0);
	text-align: left;
}#progressbar li:before {
    width: 60px; /* Largeur de l'espace réservé à l'icône */
    height: 60px; /* Hauteur de l'espace réservé à l'icône */
    line-height: 56px; /* Ajustement de la position verticale */
    font-size: 30px; /* Taille de l'icône */
    /* Autres styles */
    display: block;
    color: #ffffff;
    background: #c3c78c; /* Couleur de fond par défaut */
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 4px;
    /* Dégradé linéaire */
    background-image: linear-gradient(to bottom right, #c3c78c, #ff8800fd); /* Dégradé de couleur */
}

/* Styles pour la barre de progression */
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: #c3c78c; /* Couleur de fond par défaut */
    position: absolute;
    left: 0;
    top: 30px; /* Ajustement de la position verticale */
    z-index: -1;
    /* Dégradé linéaire */
    background-image: #c3c78c; /* Dégradé de couleur */
}

/* Styles pour la couleur active dans la barre de progression */
#progressbar li.active:before, #progressbar li.active:after {
    background: #17a2b8; /* Couleur active */
}
/*Icon progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: rgba(211, 211, 211, 0.74);
}

#progressbar .active {
    color: #000000;
    
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
}

/*Icons in the ProgressBar*/
#progressbar #account:before {
    font-family: "Font Awesome 5 Free";
    content: "\f13e";
    font-weight: 900;
}

#progressbar #personal:before {
    font-family: "Font Awesome 5 Free";
    content: "\f007";
    font-weight: 900;
}

#progressbar #payment:before {
    font-family: "Font Awesome 5 Free";
    content: "\f030";
    font-weight: 900;
}

#progressbar #confirm:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #17a2b8;
}

/*Animated Progress Bar*/
.progress {
	height: 20px;
}

.progress-bar {
	background-color: #fcb858;
}

/*Fit image in bootstrap div*/
.fit-image{
    width: 100%;
    object-fit: cover;
}
#msform input[type="text"], #msform input[type="email"], #msform input[type="password"], #msform input[type="file"], #msform textarea {
    padding: 8px 15px 8px 15px;
    border: 1px solid #e7e7e75e;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #e7e7e7a4;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 10px;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-option .radio-input {
    margin-right: 10px !important;
}

.radio-option label {
    display: inline-block !important;
}
.msform-text {
    padding: 8px 15px 8px 15px;
    border: 1px solid #e7e7e7a4;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #e7e7e7a4;
    font-size: 16px;
    letter-spacing: 1px;
}

.radio-option-input {
    margin-right: 10px !important;

}