{% extends 'base-front.html.twig' %}
{% block body %}
<div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__text">
                        <h2>bibliothèque des Ressources</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="breadcrumb__links">
                        <a href="./index.html">Accueil</a>
                        <span>bibliothèque des ressources</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<body>
    {% block title %}{% endblock %}
</button>

<div class="row">
    {% for categorie in cat %}
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg" data-setbg="img/shop/product-1.jpg">
                    <div class="product__label">
                        <span>{{ categorie.nomCategorie }}</span>
                    </div>
                </div>
                <div class="product__item__text">
                    <div class="cart_add">
                        <h6><a href="{{ categorie.ressource }}"></a></h6>
                        <a href="{{ path('afficheResP')}}">Voir ressource</a>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


    <div class="blog__item">
        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-1.jpg">
            <div class="blog__pic__inner">
                <div class="label">Recipes</div>
                <ul>
                    <li>By <span>James Myers</span></li>
                    <li>13 Nov 2020</li>
                    <li>112 Views</li>
                </ul>
            </div>
        </div>
        <div class="blog__item__text">
            <h2>Delivering Kisses And Miracles</h2>
            <p>Herbs are fun and easy to grow. When harvested they make even the simplest meal seem like
                a gourmet delight. By using herbs in your cooking you can easily change the flavors of
            your recipes in many different ways, according to which herbs you add...</p>
            <a href="#">READ MORE</a>
        </div>
    </div>
    <div class="blog__item">
        <div class="blog__item__pic set-bg" data-setbg="img/blog/blog-2.jpg">
            <div class="blog__pic__inner">
                <div class="label">Recipes</div>
                <ul>
                    <li>By <span>James Myers</span></li>
                    <li>13 Nov 2020</li>
                    <li>112 Views</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}

